<% provide(:title,"登录")%>
<h1 class="center">登录</h1>
<div class="row">
  <div class="col-md-2 col-md-offset-5">
    <%= form_for(:session,url: sessions_path) do |f| %>
      <%= f.label :email,"邮箱" %>
      <%= f.email_field :email,class:"form-control" %>

      <%= f.label :password,"密码" %>
      <%= f.password_field :password,class:"form-control" %>

      <%= f.submit "登录",class: "btn btn-primary" %>
    <% end %>
    <span>没有账户?现在<%= link_to "注册",signup_path%></span>
  </div>
</div>