<%provide(:title,"注册")%>
<h1 class="center">注册</h1>
<div class="row">
  <div class="col-md-2 col-md-offset-5">

    <%= form_for(@user) do |f| %>
      <%= f.label :name, "用户名"%>
      <%= f.text_field :name%>

      <%= f.label :email ,"邮箱"%>
      <%= f.email_field :email %>

      <%= f.label :password, "密码" %>
      <%= f.password_field :password%>

      <%= f.label :password_confirmation ,"确认密码"%>
      <%= f.password_field :password_confirmation %>

      <%= f.submit "注册账户", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>

