<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container-fluid">
    <%=link_to "App Space",root_path,id: "logo"%>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "首页", root_path %></li>
        <li><%= link_to "帮助", help_path %></li>
        <% if logged_in? %>
          <li><%= link_to current_user.name,user_path(current_user) %></li>
          <li><%= link_to "登出", session_path(current_user),method: :delete%></li>
        <% else%>
          <li><%= link_to "登录", login_path %></li>
        <%end%>
      </ul>
    </nav>
  </div>
</header>